.consultation{
	min-height: 680px;
	padding-top: 102px;
	padding-bottom: 108px;
	background: url('../../img/consultation.png') center (center/cover) no-repeat;
		.consultation__descr{
			color: #FFFFFF;
			margin-top: 8px;
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 30px;
		}
}
